/* put media query in this file */
/* change any styling that is different in desktop view inside media query */

/* For mobile phones: */
.container {
    width: 100%;
}
  
@media only screen and (min-width: 1024px) {
/* For desktop: */
  
.container {
    width: 1000px;}
}
  
/* Media Query for medium + screens */
@media only screen and (min-width: 45em) {
    .navigation li:first-child /*{ display: none;}*/
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: #ffffff;}

    nav li { background-color: none;}
    
    .insidebox { 
        height: 160px; 
        flex-direction: row;
    }
    header img { 
        align-self: left; 
        max-height: 140px;
        width: auto;
        padding-left: 3.0rem;
    }
    header h1 { 
        font-size: 65px; 
        padding: 15px; 
        display: flex;
        align-items: center;
    } 
    .page {
        background-color: #256d1b;
        margin: 0px;
        padding: 0px;
        border: 1px solid #ffffff;
    }
    .navigation {
        list-style-type: none;
        margin: 0px;
        padding: 8px;
        display: inline-block;
        flex-direction: column;
        color: #ffffff;
        text-align: center;
    }
    .topnav {
        display: none;
    }
    nav {
        margin: 0;
        max-width: auto;
        height: 60px;
        padding: 0px;
        background-color: #000;
        text-align: center;
    }
    
    .bodyimg { 
        width: auto;
        max-height: 200px;
    }

    .flexbox { flex-direction: row;}

    .button { display: none;}

    .citybox1, .citybox2, .citybox 3 {
        width: 32%;
    }
}
 
@media (min-width: 45em) {
    .navigation li:first-child /*{ display: none;}*/
    .navigation li { display: block; flex: 1 1 auto; }
    .navigation, .container { flex-direction: row; }
}

.booked-wzs-day-d, .booked-wzs-day-n, .week-day-val, .week-day {
    color: black;
}