/* put media query in this file */
/* change any styling that is different in desktop view inside media query */

/* For mobile phones: */
.container {
    width: 100%;
}
  
@media only screen and (min-width: 1024px) {
/* For desktop: */
  
.container {
    width: 1000px;}
}
  
/* Media Query for medium + screens */
@media only screen and (min-width: 45em) {
    .navigation li:first-child /*{ display: none;}*/
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: #ffffff;}

nav li { background-color: none;}
    
.insidebox { 
    height: 160px; 
    flex-direction: row;
}
header img { 
    align-self: left; 
    max-height: 140px;
    width: auto;
    padding-left: 3.0rem;
}
header h1 { 
    font-size: 65px; 
    padding: 15px; 
    display: flex;
    align-items: center;
} 
.page {
    background-color: #256d1b;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ffffff;
}
.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 8px;
    display: inline-block;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}
.topnav {
    display: none;
}
nav {
    margin: 0;
    max-width: auto;
    height: 60px;
    padding: 0px;
    background-color: #000;
    text-align: center;
}
    
.bodyimg { 
    width: auto;
    max-height: 300px;
    float: right;
    margin: 1px;
    padding: 1px;
}

.article {
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    text-align: left;
}

.gallery {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: .5em;
    padding: .5em;
}

.flexbox { flex-direction: row;}

.button { display: none;}

/*.row, .column {
    border: 1px solid #000;
    margin: 0 auto;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}*/
 
@media (min-width: 45em) {
    .navigation li:first-child /*{ display: none;}*/
    .navigation li { display: block; flex: 1 1 auto; }
    .navigation, .container { flex-direction: row; }
}

.booked-wzs-day-d, .booked-wzs-day-n, .week-day-val, .week-day {
    color: black;
}
footer {
    max-width: auto;
    margin: 0 auto;
    background-color: #95B46A;
    text-align: center;
    border: 1px solid #444;
}
