.container {margin: 1rem auto; display:grid; grid-template-columns: 1fr 1fr 1fr; max-width: 1048px;}

img { width: 250px; height: auto; margin: .5rem;}
figcaption {font-size: smaller;}
/* hover effect */
.norm:hover {box-shadow: 0 0 50px green;}
/* rounded corners - boxmodel */
.rocorn {border-radius: 5px 150px;}
/* simple opacity */
.opac {opacity: .5;}
.blur {filter: blur(1px) grayscale(75%);}
.object {width: 100%; height: 100px ; object-fit: cover;}
.shape-outside {border-radius: 100px; width:35%; margin: 0 3em .5em 0; float:left; shape-outside: circle();}
.booked-wzs-day-d, .booked-wzs-day-n, .week-day-val, .week-day {
    color: black;
}
.page {
    background-color: #256d1b;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ffffff;
}
.article {
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    text-align: left;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    display: inline-block;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}
.topnav {
    display: none;
}
nav {
    margin: 0;
    max-width: auto;
    height: 60px;
    padding: 0px;
    background-color: #000;
    text-align: center;
}
footer {
    max-width: auto;
    margin: 0 auto;
    background-color: #95B46A;
    text-align: center;
    border: 1px solid #444;
}
