/*header*/

.headings {
    text-align: center;
    margin: 0 auto;
    max-width: auto;
    background-color: #95B46A;
    padding: 1rem;
    border: 1px solid #444;
}

header img {
    align-self: center;
    max-height: 150px;
} 

.insidebox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #256d1b;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
}

header h1, h2 {
    display: flex;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 0px;
    max-width: auto;
 }

header h1 {
    display: flex;
    font-size: 40px;
    background: #256d1b; 
    padding: .5rem; 
 } 
 
 header h2 {
    font-size: 30px;
    background: #256d1b; 
    color: #fff;
 }

 header { background-color: #256d1b; text-align: center; margin: 0 auto;}

/*end of header*/

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 

.citybox1, .citybox2, .citybox3 {
    border: 1px solid #000;
    margin: 0 auto;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

hr {
    border: 0.5px solid #444;
}
   
strong {
    color: green;
}

.snowy {
    float: right;
    width: 6.5rem;
    height: 9.5rem;
}

body style {
    margin: 0px; background: #ffffff;
} 

* { margin: 0; padding: 0; box-sizing: border-box;}
body { background-color: #ddd; }

/*body img {
    float: right;
    width: 12.5rem;
    height: 3.5rem;
}*/

nav {
    margin: 0 auto;
    max-width: auto;
    height: 60px;
    padding-top: .6rem;
    background-color: #000;
}

a { text-decoration: none;}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

nav li {
    display: inline-block;
    padding-right: 1.75rem;
    background-color: #000;
    float: center;
}

nav li a {
    display: block;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: #172815;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1.7rem;
    overflow: hidden;

} 

.navigation { list-style: none; text-align: center;}
  .navigation li:first-child /*{ display: block;}*/
  .navigation li { display: none;}
  .navigation a { display: block; color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: #172815; background-color: #fff;}

main {
    margin-top: 1rem;
}

main {max-width:820px; margin:0 auto;}

.herodiv {margin: 10px auto; position: relative;}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	border: 1px solid #000;
	padding: .5rem;
    box-shadow: 0 0 30px #fff;
    text-align: right;
}

.week-day, .week-day-ico, .week-day-val {
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.booked-wzs-day-d, .booked-wzs-day-n, .week-day-val, .week-day {
    color: black;
}

footer {
    max-width: auto;
    margin: 0 auto;
    background-color: #95B46A;
    text-align: center;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
	.responsive li { display: block; }

