table {
    font-family: "Ubuntu", sans-serif;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

header {
    background: #628ca6;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    
}

body {
    font-size: 18px;
    text-align: center;
    padding: none;
    border: 2px solid #628ca6;
}

th {
    background: #7fb9c2;
    color: white;
    padding: 10px;
}

td {
    background: #e7f0ed;
    padding: 10px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background: #e7ffed;
}

footer {
    background: #628ca6;
    color: black;
    text-align: center;
    padding: 5px;
}