table {
    font-family: "Ubuntu", sans-serif;
    color: #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 with white and black;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #7fb9c2;
    text-align: left;
    padding: 10px
}

tr:nth-child(even) {
    background-color: #628ca6;
}

