/*start of header*/
.header {
    background-color: #0099FF;
    margin: 0;
    padding: 0;
    border: 1px solid #0000FF;
}
/*end of header*/

/*start of  nav*/
.nav {
    margin: 5px;
    padding: 5px;
}

.page {
    background-color: #d4e2ec;
}
/*end of nav*/

/*start of slide*/
* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 1px solid #0000FF;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: blue;
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: aqua;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: blue;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*end of slide*/

/*start of welcome*/
.welcome {
    border: 1px solid #0000FF;
    margin: 1px;
    padding: 1px;
}
/*end of welcome*/

/*start of weather*/
#temp, #forecast, #humidity-div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 60px;
    color: #0099FF;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.forecast {
    height: 50%;
    width: 30%;
    border-bottom-left-radius: 25px;
    background-color: #ccc;
}

.temperature {
    position: absolute;
    left: 30%;
    top: 0%;
    height: 20%;
    width: 30%;
    background-color: #8ab1cf;
}

.humidity {
    height: 20%;
    width: 30%;
    position: absolute;
    left: 30%;
    top: 20%;
    border-bottom-right-radius: 25px;
    background-color: #0099FF;
}
/*end of weather*/

/*start of reservation*/
.reservation {
    margin: 0;
    padding: 0;
}
/*end of reservation*/

/*start of payment*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25, .col-50, .col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: gray;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
/*end of payment*/

/*start contact us*/
input[type=text], select, textarea {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0000FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0099FF;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*end of contact us*/

/*start of footer*/
.footer {
    background-color: #0099FF;
    margin: 0;
    padding: 0;
    border: 1px solid #0000FF;
}