/* put media query in this file */
/* change any styling that is different in desktop view inside media query */

/* For mobile phones: */
.container {
    width: 100%;
}
  
@media only screen and (min-width: 1024px) {
/* For desktop: */
  
.container {
    width: 1000px;}
}
  
/* Media Query for medium + screens */
@media only screen and (min-width: 45em) {
    .navigation li:first-child { display: none;	}
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: yellow;}
    .insidebox { height: 160px; flex-direction: row;}
    header img { align-self: center; max-height: 100%;}
    header h1 { font-size: 55px; background: #256d1b;} 
    .flexbox { flex-direction: row;}
    .button { display: none;}
}
 
@media (min-width: 45em) {
    .navigation li:first-child { display: none;	}
    .navigation li { display: block; flex: 1 1 auto; }
    .navigation, .container { flex-direction: row; }
}